# Secrets
secrets.json
secrets.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# TypeScript declaration files
typings/

# Optional caches
.npm
.eslintcache
.node_repl_history
.cache

# Packed files
*.tgz
.yarn-integrity

# Environment variables
.env
.env.test

# TypeScript output
dist
out

# CDK
cdk.out/

# Recovered Lambda artifacts
lambda.zip
lambda-recovered/
